-if @repos.size() > 0
  -@repos.each do |repo|
    =link_to("View recent work on #{repo.github_name}", repo_path(repo))
-else
  %p.warning.message
    You don't have any Repositories configured.
  =link_to("Let's take care of that now.", {:controller=>:repos, :action=>:new}, {:class=>'button'})


