-if @repos.size() > 0
  %h2 View recent work on:
  %ul.reports_list
    -@repos.each do |repo|
      %li
        =link_to(repo.github_name, report_repo_path(repo), {:class=>'button'})
-else
  %p.warning.message
    You don't have any Repositories configured.
  =link_to("Let's take care of that now.", {:controller=>:repos, :action=>:new}, {:class=>'button'})


