.secondary_table_header{
  background: #1dabb8;
  color: white;
}

.end_buttons{
  margin-top: 1em;
}

.information {
  background: #ddd;
  padding: 1em;
}

.project_section{
  border: solid 1px #ccc;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: 1em;
  margin: 1em;
}
.project_heading{
  border-bottom: solid 1px black;
}
.ticket_type {
  border-bottom: solid 1px #ccc;
}

ul.reports_list{
  list-style:none;
}

.copyright_notice{
  font-size: 80%;
}

@media print 
{
    .no_print 
    {
        display:none;
    }
}

