.information {
  background: #ddd;
  padding: 1em;
}

.project_section{
  border: solid 1px #ccc;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: 1em;
  margin: 1em;
}
.project_heading{
  border-bottom: solid 1px black;
}

ul.reports_list{
  list-style:none;
}

.copyright_notice{
  font-size: 80%;
}
